.topPage {
    background-image: url(../res/MATCommunities.png);
    background-position: center;
    background-size: cover;
    color: unset;
}

.sideButton {
    font-size: xx-large;
    background-color: unset;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
}

.textContainerOutside {
    padding-right: 30px;
}

.textContainer {
    padding: 10px;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
}
